---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /spasibo/
Clean-param: utm_source&utm_medium&utm_campaign&utm_content&utm_term&yclid&ysclid

Sitemap: {{ site.url }}/sitemap.xml
