---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.indexable %}
  <url>
    <loc>{{ p.url | absUrl(site.url) }}</loc>
    <lastmod>{{ p.date.toISOString().slice(0, 10) }}</lastmod>
  </url>
{%- endfor %}
</urlset>
